/* Individual Skill Box */
.skillBox {
  display: flex;
  align-items: center;
  flex: 1 1 calc(45% - 1rem);
  /* two per row */
  min-width: 260px;
  max-width: 280px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right,
      rgba(15, 32, 39, 0.75),
      rgba(32, 58, 67, 0.75),
      rgba(44, 83, 100, 0.75));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* for Safari support */
  color: #f0f0f0;

  box-sizing: border-box;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1.5rem;

}

.skillBarText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skillBarText h2 {
  color: #ffffff;
}


.progressBar {
  width: 80%;
  /* Makes it fully adapt to its parent */
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  margin-top: 8px;
  overflow: hidden;
}

.progressFill {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

.percentage {
  font-size: 12px;
  margin-top: 4px;
  color: #ccc;
}


@media screen and (max-width: 600px) {
  .skillBox {
    flex: 1 1 100%;
    padding: 1rem 0.8rem;
  }

  .icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
  }

  .progressBar {
    width: 100px;
    height: 8px;
  }

  .percentage {
    font-size: 0.75rem;
  }
}

/* Media Queries */
@media screen and (max-width: 920px) {
  .skillBox {
    flex: 1 1 100%;
    /* full width on small screens */
  }

  .progressBar {
    width: 100px;
    height: 8px;
  }

  .percentage {
    font-size: 3vw;
  }
}