/* Skills Section */
#skills {
  overflow: hidden;
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 3rem 0;
  
  border-top:  1.5px solid  #00e0ff;
  border-bottom:  1.5px solid  #00e0ff;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #e0faff;
}

.skillDesc {
  font-weight: 400;
  font-size: 1rem;
  max-width: 55rem;
  padding: 0 2rem;
  text-align: center;
}

/* Skill Grid Container */
.skillsBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 85%;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border:  1.5px solid  #00e0ff;
  border-radius: 14px;
  overflow: hidden;
}

.skillsBarHeader {
  width: 100%;
  background-color:  #3B4D61;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
    border-bottom:  1.5px solid  #00e0ff;
}
.skillsBarHeader h2{
  font-size: 32px;
}
.skillsBarHeader .skillIcon{
  height: 3rem;
  width: 3rem;
  font-size: larger;
  padding: 6px;
  border-radius: 4px;
  background: linear-gradient(90deg,#79e1f5, #4167e2);
}


.skillCards {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding:0rem 2rem 20px;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .skillsBarHeader {
    width: 1fr;
  }
}