.navbar {
  height: 4.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(to right,
      rgba(15, 32, 39, 0.8),
      rgba(30, 60, 100, 0.8),
      rgba(44, 83, 100, 0.8));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #00e0ff;
  
  border-bottom:  0.5px solid  #00e0ff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.desktopMenuItem {
  margin: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.desktopMenuItem:hover {
  color: #e0faff;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid;
}


.btn {
  background: #00e0ff;
  color: #0f2027;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.active {
  color: #e0faff;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid;
}


.mobMenu {
  display: none;
  object-fit: contain;
  color: #00e0ff ;
  height: 2rem;
  width: 2rem;
  
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: linear-gradient(to right,
      rgba(15, 32, 39, 1),
      rgba(30, 60, 100, 1),
      rgba(15, 32, 39, 1));
  color: #f0f0f0;
  border-radius: 1rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background-color: #2c5364;
  border-radius: 3px;
}

@media screen and (max-width:720px) {
  .logo{
    height: 3rem;
    width: 3rem;
  }
  .navbar{
    padding: 1rem;
    height: 3.7rem;
    overflow: hidden;
  }
  .download-link {
  display: none;
}
  .mobMenu {
    display: flex;
    
  }

  .desktopMenu {
    display: none;
  }

  .desktopMenuImg {
    display: none;
  }
}