@import url('https://fonts.googleapis.com/css2?family=Numans&family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');



@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit", sans-serif;

}

@theme {
 

  /* 🌑 Dark Colors */
  --color-dark-primary: #0f2027;
  /* Jet Black */
  --color-dark-secondary: #023047;
  /* Ocean Blue */
  --color-dark-midnight: #003049;
  /* Midnight Blue */
  --color-dark-slate: #335c67;
  /* Slate Teal */
  --color-dark-navy: #001d3d;
  /* Deep Navy */

  --color-primary-txt: #0D5EA6;
  --color-primary-txt-light: #FFF5E4;
  --color-secondary-txt: #077A7D;
}

.HTML {
  color: #E44D26;
}

.CSS {
  color: #264DE4;
}

.JavaScript {
  color: #F0DB4F;
}

.React {
  color: #61DBFB;
}

.Bootstrap {
  color: #7952B3;
}

.TailwindCSS {
  color: #38BDF8;
}

.NodeJS {
  color: #3C873A;
}

.ExpressJS {
  color: #fdfdfd;
}

.MySQL {
  color: #00758F;
}

.MongoDB {
  color: #47A248;
}

.Git {
  color: #F1502F;
}

.GitHub {
  color: #181717;
  background-color: #eaeaea;
  border-radius: 9999px;
}

.Netlify {
  color: #00C7B7;
}

.Vercel {
  color: #f0f0f0;
}