@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg,
      rgba(15, 32, 39, 1),
      rgba(21, 49, 86, 0.95),
      rgba(44, 83, 100, 0.9));
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  background-attachment: fixed;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.App {
  margin: auto;
  width: 90%;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}